main > section{
    bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 28px;
    background-color: #ffffffbe;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bolder;
    box-shadow: 1px 1px 3px black;
    border: 1px solid #0000005d;
    border-radius: 3px 10px 10px 10px;
    height: 100%;
    width: 90%;
    transition: 1s;
}
.coleta-dados > label{
    width: 60%;
}
.coleta-dados > input{
    width: 40%;
}
.coleta-dados > input[type=submit]{
    width: 100%;
}

form > h2{
    padding: 10px;
    background-color: #0000ff86;
    border-radius: 3px 5px 5px 5px;
}
.coleta-dados{
    display: flex;
}
.coleta-dados > label{
    background-color: red;
    width: 40%;
    height: 100%;
    display: block;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px 0px 0px 4px;
    
}
.coleta-dados > input{
    display: block;
    border: 0px;
    height: 90%;
    width: 60%;
    padding: 9.7px;
    

}
.coleta-dados > input[type=button]{
    cursor: pointer;
    margin: auto;
    font-weight: bolder;
    background-color: blue;
    color: white;
    border-radius: 3px;
    border: 2px solid white;
}
.coleta-dados > input:active{
    border: 0px;
}



